<mat-toolbar color="primary">
  <span>Coin watcher</span>
  <span fxFlex></span>
  <button mat-icon-button (click)="refresh()">
    <mat-icon class="mat-24" aria-label="refresh">refresh</mat-icon>
  </button>
  <button mat-icon-button (click)="openCurrencyFinder()">
    <mat-icon class="mat-24" aria-label="add">playlist_add</mat-icon>
  </button>
</mat-toolbar>

<mat-list>
  <mat-list-item *ngFor="let currency of currencies">
    <mat-icon matListIcon [ngClass]="'cc ' + currency.symbol +' mat-24'" aria-label="currency.name" fontSet="cc"></mat-icon>
    <h3 matLine> {{currency.symbol}} </h3>
    <p matLine>
      <span> {{currency.name}} </span>
      <span> -- {{currency.name}} </span>
    </p>
    <span></span>
    <span> {{(currency.price*1).toFixed(2)}}&nbsp;</span>
    <span> {{currency.price_currency}}</span>
    <button mat-icon-button (click)="deleteFromWatchList(currency)">
      <mat-icon class="mat-24">delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>