<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon class="mat-24" aria-label="Back" (click)="goHome()">arrow_back</mat-icon>
  </button>
  <span fxFlex>Coin watcher</span>
  <button mat-icon-button *ngIf="currencyOptions.selectedOptions.selected.length > 0" (click)="addToWatchlist()">
    <mat-icon class="mat-24" aria-label="Add to watchlist">add</mat-icon>
  </button>
</mat-toolbar>

<div fxFlexLayout="column">
  <div class="search-bar">
    <mat-form-field fxFlex floatPlaceholder="never">
      <input matInput fxFlex [formControl]="term" type="search" id="keyword" placeholder="Find your favourite crypto currencies..."
        autofocus autocomplete="off">
    </mat-form-field>
  </div>

  <mat-selection-list #currencyOptions>
    <mat-list-option *ngFor="let c of currencies" (click)="selectCurrency(c)">
      {{c.name}}
    </mat-list-option>
  </mat-selection-list>
</div>
